---
layout: main
title: Home page
---

<div class="my-5">
  <h6>Welcome to</h6>
  <h1 class="display-3 fw-normal lh-1 mb-4 ">my portfolio</h4>
  <p class="text-secondary">I'm a full-stack web developer with many years of business experience, entrepreneur, and some art & design background. After all these years, I fell in love with programming. Oops.</p>
</div>
<div class="my-5 border border-white" id="portfolio"></div>
{% include works_grid.html %}
<div class="my-5 border border-white" id="tools"></div>
{% include tools.html %}
<div class="my-5 border border-white" id="about"></div>
{% include about.html %}
<div class="my-5 border border-white" id="contact"></div>
{% include contact.html %}
