---
layout: main
title: Home page
---

<div class="my-5">
  <h6>Welcome</h6>
  <h1 class="display-3 fw-normal lh-1 mb-4 ">Some headline text in not more then two lines</h4>
  <p class="text-secondary">On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the same as saying through shrinking from toil and pain. </p>
</div>
<div class="my-5">
  <div class="row row-cols-md-2 row-cols-1">
    {% for work in site.works %}
  <div class="col">
    <div class="card border-0">
      <img src="http://dummyimage.com/800x400/4d494d/686a82.gif&text=placeholder+image" alt="placeholder+image">
      <div class="card-body">
        <h6 class="title">{{ work.title }}</h6>
        <div class="d-flex justify-content-between">
          <p>{{ work.tagline }}</p>
          <a href="{{work.id}}">More...</a>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  </div>
</div>
<div class="my-5 border border-white"></div>
{% include tools.html %}
<div class="my-5 border border-white"></div>
{% include about.html %}
<div class="my-5 border border-white"></div>
{% include contact.html %}
