<h6>About me</h6>
<h1 class="display-3 fw-normal lh-1">Hello, my name is Marijan</h1>
<p class="mb-5 ">[m AH - r ee - y ah n]</p>
<p class="lh-base">I live and work in Belgrade, Serbia. I'm an entrepreneur and business and software developer working on innovative business and software solutions. Usually, I work on those kinds of solutions that are not available on the shelf or as a template. I am building custom websites and apps that you can't get from a template in time between new business solution opportunities.</p>
<p class="lh-base">
Somehow I found my place in this world as an intersection between creativity, innovation, details, and well-designed(graphically, functionally, and architecturally) applications. I see a lot of project/problems which need to build/solved, whether it's to do with process, design, or code, only the tools changed, and all my process is iterative.
</p>
<p class="lh-base">
By approaching every single problem as a learning experience, over iteration, I tend to create an image about details and how they need to be done. I like to support every theory with facts.
Once the grand picture appears, all necessary tasks to finish the project are visible, set in place, well organized, and communicated to the team.
</p>
<p class="lh-base">
My more than 25 years-long career in the Information Technology industry enables me to experience different projects, tools, and environments.
</p>
<p class="lh-base">
While my focus is on the whole solution using Ruby on Rails, Heroku and AWS, I also like modern approaches for application building with Firebase and google platforms and VueJS. I also worked with Flutter, building multiplatform solutions and all necessary bash scripting and different package bundlers.
</p>
<p class="lh-base">I am constantly exploring, always learning, and never bored.</p>
