<h6>About me</h6>
<h1 class="display-3 fw-normal lh-1">Hello, my name is Marijan</h1>
<p class="mb-5 ">[m AH - r ee - y ah n]</p>
<p class="lh-base">I live and work in Belgrade, Serbia. I'm an entrepreneur and business and software developer working on innovative business and software solutions. Usually, I work on those kinds of solutions that are not available on the shelf or as a template. I am building custom websites and applications that create new business opportunities for customers.</p>
<p class="lh-base">
Somehow, I found my place in this world at an intersection where creativity, innovation, details, and well-designed(graphically, functionally, and architecturally) applications meet. I see every new project as a challenge which need to be solved. Challenge may come in a bsuiness process, architectural process, design, or code. My approach is to go through iterations and use the best tools to achieve extraordinary user experience and value - the WOW effect.
</p>
<p class="lh-base">
By approaching every single problem as a learning experience, over iteration, I tend to create an image about details and how they need to be put together. I like to support every theory with facts.
Once the grand picture appears, all necessary tasks to finish the project are visible, set in place, well organized, and communicated to the team.
</p>
<p class="lh-base">
In my 25 years-long career in Information Technology, I collected rich experience with different projects, tools, and environments.
</p>
<p class="lh-base">
While my focus is on understanding business requirements and making sure there are no gaps, I am using Ruby on Rails, Heroku and AWS as my tools of choice. I also like modern approaches for application building with Firebase and Google platforms and VueJS. I also worked with Flutter, building multiplatform solutions and all necessary bash scripting and different package bundlers.
</p>
<p class="lh-base">I am constantly exploring, always learning, and never bored.</p>
