<h6>Languages, tools, and frameworks.</h6>
<h1 class="display-3 fw-normal mb-5 lh-1">Tools I use, more to come.</h1>
<div class="row">
  <div class="col">
    <p class="fw-bold mb-1">Languages</p>
    <ul class="list-unstyled">
      <li>Ruby</li>
      <li>Dart</li>
      <li>Javascript</li>
      <li>SQL</li>
    </ul>
  </div>
  <div class="col">
    <p class="fw-bold mb-1">Frameorks</p>
    <ul class="list-unstyled">
      <li>Ruby on Rails</li>
      <li>Flutter</li>
      <li>Vuje js</li>
      <li>React</li>
    </ul>
  </div>
   <div class="col">
    <p class="fw-bold mb-1">Platforms</p>
    <ul class="list-unstyled">
      <li>Firebase</li>
      <li>Google Cloud Services</li>
      <li>Heroku</li>
      <li>AWS</li>
      <li>Vercel</li>
      <li>Netlify</li>
    </ul>
  </div>
  <div class="col">
    <p class="fw-bold mb-1">Methodology</p>
    <ul class="list-unstyled">
      <li>Agile</li>
      <li>CI / CD</li>
    </ul>
    <p class="fw-bold mb-1">Tools</p>
    <ul class="list-unstyled">
      <li>VIM / Sublime / VSC</li>
      <li>Git / GitHUB</li>
      <li>Pivotial Tracker / Github projects</li>
    </ul>
  </div>
</div>
