---
layout: main
---

<h6>{{page.category}}</h6>
<h1 class="display-3 fw-normal mb-5 lh-1">{{page.title}}</h1>
<div class="row my-5">
  <div class="col">
    <small><p class="text-muted mb-0">Year</p></small>
    <div class="h5">{{page.year}}</div>
  </div>
  <div class="col">
    <small><p class="text-muted mb-0">Client</p></small>
    <div class="h5">{{page.client}}</div>
  </div>
  <div class="col">
    <small><p class="text-muted mb-0">Line of Business</p></small>
    <div class="h5">{{page.business}}</div>
  </div>
  <div class="col">
    <small><p class="text-muted mb-0">I Deliver</p></small>
    <div class="lh-sm">{{page.delivery}}</div>
  </div>
</div>
{{page.tagline}} <br>
{{page.date | date_to_long_string}} <br>
<img src="{{page.image}}" alt="placeholder+image" class="img-fluid">

<p>{{page.content}}</p>
